
.dashboardTypes{
    width: 100%;
    border-bottom: 1px solid black;
    font-size: 30px;
}

.dashboard-users-div {
    min-height: 550px;
}

.userContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.userCards{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    margin: 20px;
    width: 40%;
    height: 130px;
    position: relative;
}

.userImg{
    width: 130px;
    height: 130px;
}

.userText p{
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 5px;
    margin-left: 15px;
}

.blocked-text {
    color: red;
    position: absolute;
    top: 57%;
    right: 2%;
}

.deleteUser{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 6px;
    margin-top: 4px;
    cursor: pointer;
    color: rgba(255, 42, 42, 0.562);
    transition: all 0.2s ease-in-out;
}
.deleteUser:hover{
    color: rgb(235, 2, 2);
    font-size: 17px;
}

.blockUser, .fa-lock-open{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 25px;
    margin-right: 4.5px;
    color: #287094;
    transition:all 0.2s ease-in-out;
}
.blockUser:hover , .fa-lock-open:hover{
    cursor: pointer;
    color: #1e516b;
    font-size: 17px;
}

.userTotal{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color:#287094;
}

.dashboardBtn{
    width: 20%;
    min-height: 30px;
    background: #ffffff;
    font-size: 1rem;
    color: #8d8d8d;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: -3px 0px 12px -2px rgba(138,212,235,0.75);
    -webkit-box-shadow: -3px 0px 12px -2px rgba(138,212,235,0.75);
    -moz-box-shadow: -3px 0px 12px -2px rgba(138,212,235,0.75);
}
.dashboardBtn:hover{
    background-color: #1d8386;
    color: #fff;
    transform: scale(1.05);
}

.dashboardBtnContainer{
    display: flex;
    justify-content: space-around;
}

.dashboardLink{
    text-decoration: none;
    text-align: center;
}

.adminUser{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 45px;
    margin-right: 1px;
    color:#287094
}

.adminUser:hover{
    cursor: pointer;
    color: #1e516b;
    font-size: 17px;
}

.noAdminUser{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 45px;
    margin-right: 5.5px;
    color:#287094
}

.noAdminUser:hover{
    cursor: pointer;
    color: #1e516b;
    font-size: 17px;
}

/* .noAdminContainer{
} */

.noAdminImgContainer{
    display: flex;
    justify-content: center;
}