.content-shift{
    position: flex;
    justify-content: center;
    align-items: center;
    width: 34.375rem;
}
.select-shift{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border: none;
    border-bottom: 1px solid #535353;
    margin: 1.25rem 0 1.25rem 0;
}
.select-shift{
    font-size: 1rem;
    color: #319dd3;
}
.content-shift select:focus{
    outline: none;
}

/* opcion dias activos */
.conteiner-shift{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    border: none;
    margin: 1.25rem;
}
.content-dias-activos{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5%;
    margin: 2vh;
}